@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Section */
.dark-1 h6 {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
}
.bg-white {
  background: #ffffff;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.card-h5 {
  font-size: 22px;
  font-weight: 700;
  color: #202020;
  margin: 20px auto;
}
.card-p {
  font-size: 12px;
  font-weight: 500;
  color: #808080;
  text-align: left;
  margin-bottom: 20px;
  padding: 0 35px;
}
.read-more {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 50px;
}
/* Header Section */
.navbar {
  margin: 20px 140px;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item li {
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}
.nav-items h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
.logo {
  display: flex;
  align-items: center;
}
.btn-primary {
  background: #fea301;
  border-radius: 12px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 40px;
  border: none;
}
.banner-section {
  display: flex;
  max-width: 1100px;
  margin-left: 90px;
  margin-top: 100px;
  gap: 50px;
}
.banner-section p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}
.banner-title {
  font-size: 3rem;
  font-weight: 700;
  width: 550px;
  margin-top: 50px;
}
.btn-5 {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  padding: 10px 40px;
  text-align: center;
}
.hero-image img {
  width: 400px;
  height: 500px;
}

/*Standard Curriculum Section  */
.standard-curriculum {
  background-image: url("./images/assets/bg.png");
}
.standard-curriculum h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin: 60px 0 80px;
}
.standard-container {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 1150px;
  gap: 30px;
  margin: 80px auto;
}
.card-1 {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(#def5ff 10%, #ffffff 70%);
  box-shadow: 0 0 28 #000000;
  border: 1px solid #def5ff;
}
.card-2 {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(#fff4dc, #ffffff);
  box-shadow: 0 0 28 #000000;
  border: 1px solid #fff4dc;
}
.card-3 {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(#f2e8ff, #ffffff);
  border: 1px solid #f2e8ff;
}
.card-1 img {
  width: 130px;
  height: 130px;
  margin: 50px 150px;
}
.card-2 img {
  width: 130px;
  height: 130px;
  margin: 50px 150px;
}
.card-3 img {
  width: 130px;
  height: 130px;
  margin: 50px 150px;
}
.arrow-icon {
  display: flex;
  margin: 80px auto 60px;
  width: 120px;
  height: 50px;
  gap: 5px;
}
.arrow-icon:hover {
  transform: scale(1.5);
  transition: 3s ease-in-out;
}
/* Our Stories Section */
.Our-stories {
  background-image: url("./images/assets/bg.png"),
    linear-gradient(#ffffff, #ffe3b3);
}

.Our-stories h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin: 60px 0 80px;
}

.story-images {
  display: flex;
  max-width: 1100px;
  height: 600px;
  margin: 0 auto 80px;
  gap: 20px;
}
.btn-1 {
  background: #3cd8e8;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
  margin-left: 30px;
  transform: translateY(-30px);
}
.image-container-1 img {
  width: 600px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.image-container-1 h5 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding: 20px 30px 0;
}
.image-container-1 p {
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  padding: 30px;
}
.story-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 600px;
}
.image-container-2 img {
  width: 250px;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.image-container-3 img {
  width: 250px;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.image-container-4 img {
  width: 250px;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.image-container-5 img {
  width: 250px;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.btn-2 {
  background: #95b226;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  margin-left: 30px;
  transform: translateY(-25px);
}
.btn-3 {
  background: #5d58f0;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  margin-left: 30px;
  transform: translateY(-25px);
}
.btn-4 {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  padding: 10px 40px;
  text-align: center;
  margin-left: 50%;
  margin-bottom: 80px;
}
/* Footer Section */
.footer-bg {
  background: #01acfd;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 140px;
}
.footer-title {
  width: 300px;
}
.footer-title h3 {
  font-size: 1.5rem;
  font-size: 700;
  color: #ffffff;
}
.footer-title p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}
.footer-logo {
  display: flex;
  gap: 15px;
}
.footer-link {
  margin-left: 80px;
}
.footer-link h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.links a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 10px;
  text-decoration: none;
}
.social-media {
  margin-left: 150px;
}
.social-media h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-media img {
  width: 25px;
  height: 25px;
  gap: 5px;
}
/* Media Query for Header Section */
@media screen and(max-width:576px) {
  .nav-item li {
  }
}

/* Media Query for Responsiveness for Standard Curriculum Section */
@media screen and (max-width: 576px) {
  .standard-container {
    flex-direction: column;
    width: 100%;
    margin-left: 70px;
  }
  .arrow-icon {
    display: none;
  }
}

/* Media Query for Responsiveness for Our Stories Section */
@media screen and (max-width: 576px) {
  .story-images {
    .image-container-1 {
      display: none;
    }
  }
  .image-container-2 img {
    width: 250px;
  }
  .image-container-3 img {
    width: 250px;
  }
  .image-container-4 img {
    width: 250px;
  }
  .image-container-5 img {
    width: 250px;
  }
  .bg-white {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
}
/* Media Query for Responsiveness for Footer Section */
@media screen and (max-width: 576px) {
  .footer-bg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px 50px;
  }
  .footer-link {
    margin-left: -10px;
  }
  .social-media {
    margin-left: -10px;
  }
}
